.table {
  margin-top: 100px;
  display: grid;
  /* TODO: Check what looks good */
  grid-template-columns: 60px auto auto auto;
  column-gap: 1%;
  row-gap: 0.5em;
}

.headerClickable {
  display: flex;
  font-weight: bold;
  cursor: pointer;
}