.table {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 60px 200px auto 150px;
  column-gap: 1%;
  row-gap: 0.5em;
}

.headerClickable {
  display: flex;
  font-weight: bold;
  cursor: pointer;
}
