body {
  background-color: rgb(0, 111, 128);
}

.title {
  /* height: 10%; */
  font-size: 60px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: rgb(0, 213, 255);
}

.content {
  padding: 10%;
  font-size: 30px;
}

.symbol {
  display: block;
}

.lightning_hidden {
  color: blue;
  font-size: 130%;
  opacity: 0.4;
  -webkit-text-stroke: 3px black;
  display: block;
}

.table {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1%;
  row-gap: 0.5em;
}

.header {
  font-weight: bold;
}

button {
  background-color: rgb(47, 227, 255);
  font-size: 30px;
  color: white;
}

input {
  font-size: 30px;
  border-color: rgb(47, 227, 255);
}

.regularCheckbox {
  width: 20px;
  height: 20px;
}
